flows.json
[
    {
        "id": "7d3a3ca8.cbf5c4",
        "type": "tab",
        "label": "simul",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6226caa2.f429d4",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "954db4be.046838",
        "type": "natsio-server",
        "z": "",
        "name": "",
        "host": "localhost",
        "port": "4222",
        "json": true
    },
    {
        "id": "1032e45a.a0ec8c",
        "type": "inject",
        "z": "7d3a3ca8.cbf5c4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "e5cfc44a.926a88"
            ]
        ]
    },
    {
        "id": "ba3a8c7e.d101b",
        "type": "debug",
        "z": "7d3a3ca8.cbf5c4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "9177be77.6d8f3",
        "type": "inject",
        "z": "6226caa2.f429d4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "f3046fb0.9f8c"
            ]
        ]
    },
    {
        "id": "f3046fb0.9f8c",
        "type": "debug",
        "z": "6226caa2.f429d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "33f7d6a3.d474ea",
        "type": "natsio-pub",
        "z": "7d3a3ca8.cbf5c4",
        "server": "954db4be.046838",
        "subject": "test.server.all",
        "message": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5cfc44a.926a88",
        "type": "counter",
        "z": "7d3a3ca8.cbf5c4",
        "name": "",
        "init": "1",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "553bd906.b205b8",
                "201bcb22.bf0034",
                "cb47e1dd.7609f",
                "3205765f.98e8ea"
            ]
        ]
    },
    {
        "id": "553bd906.b205b8",
        "type": "function",
        "z": "7d3a3ca8.cbf5c4",
        "name": "server",
        "func": "let type=\"server\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\nlet cpu = no;\nlet memory = no*2;\nlet data = {_type_:type,host:\"host-\"+no,time:time,cpu:cpu,memory:memory};\nmsg.payload = data;\n//msg.payload = JSON.stringify(data);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "33f7d6a3.d474ea",
                "ba3a8c7e.d101b"
            ]
        ]
    },
    {
        "id": "201bcb22.bf0034",
        "type": "function",
        "z": "7d3a3ca8.cbf5c4",
        "name": "process",
        "func": "let type=\"process\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\n\n[1,2].forEach(k=>{\n    let process = \"process-\"+k;\n    let cpu = no*k;\n    let memory = no*2*k;\n    let data = {_type_:type,process:process,host:\"host-\"+no,time:time,cpu:cpu,memory:memory};\n    msg.payload = data;\n    node.send(msg);\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "5fc90e2.b3741f"
            ]
        ]
    },
    {
        "id": "5fc90e2.b3741f",
        "type": "natsio-pub",
        "z": "7d3a3ca8.cbf5c4",
        "server": "954db4be.046838",
        "subject": "test.process",
        "message": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb47e1dd.7609f",
        "type": "function",
        "z": "7d3a3ca8.cbf5c4",
        "name": "app",
        "func": "let type=\"app\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\n\n[1,2,3].forEach(k=>{\n    let app = \"app-\"+k;\n    let count = no*k;\n    let avg = no*2*k;\n    let max = no*3*k;\n    let data = {_type_:type,app:app,host:\"host-\"+no,time:time,count:count,avg:avg,max:max};\n    msg.payload = data;\n    node.send(msg);\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "d627ee31.63c8d"
            ]
        ]
    },
    {
        "id": "d627ee31.63c8d",
        "type": "natsio-pub",
        "z": "7d3a3ca8.cbf5c4",
        "server": "954db4be.046838",
        "subject": "test.app",
        "message": "",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "3205765f.98e8ea",
        "type": "function",
        "z": "7d3a3ca8.cbf5c4",
        "name": "test",
        "func": "let no = msg.count%10;\nlet host = \"host-\"+ no;\nlet data = {host:\"host-\"+no,no:no};\nmsg.payload = data;\n//msg.payload = JSON.stringify(data);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "52f2976e.4e0798"
            ]
        ]
    },
    {
        "id": "52f2976e.4e0798",
        "type": "natsio-pub",
        "z": "7d3a3ca8.cbf5c4",
        "server": "954db4be.046838",
        "subject": "test.1.mytype",
        "message": "",
        "x": 660,
        "y": 140,
        "wires": []
    }
]