flows_DESKTOP-343SCL9.json
[
    {
        "id": "2c782e2a.8831a2",
        "type": "tab",
        "label": "simul",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e36c91ac.87599",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85f9fb2.b3c1508",
        "type": "natsio-server",
        "z": "",
        "name": "",
        "host": "localhost",
        "port": "4222",
        "json": true
    },
    {
        "id": "840bd1c4.04e6e",
        "type": "inject",
        "z": "2c782e2a.8831a2",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "7f3b9614.3038a8"
            ]
        ]
    },
    {
        "id": "6667770a.1d0638",
        "type": "debug",
        "z": "2c782e2a.8831a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "c738708c.9a7e",
        "type": "inject",
        "z": "e36c91ac.87599",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "d3628bee.998f18"
            ]
        ]
    },
    {
        "id": "d3628bee.998f18",
        "type": "debug",
        "z": "e36c91ac.87599",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "47dcae80.5cb3f",
        "type": "natsio-pub",
        "z": "2c782e2a.8831a2",
        "server": "85f9fb2.b3c1508",
        "subject": "test.server.all",
        "message": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "7f3b9614.3038a8",
        "type": "counter",
        "z": "2c782e2a.8831a2",
        "name": "",
        "init": "1",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "be651bbb.5660a8",
                "ed4bcb64.2ea0f8",
                "d7550927.d16718",
                "d24c0f11.9004e"
            ]
        ]
    },
    {
        "id": "be651bbb.5660a8",
        "type": "function",
        "z": "2c782e2a.8831a2",
        "name": "server",
        "func": "let type=\"server\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\nlet cpu = no;\nlet memory = no*2;\nlet data = {_type_:type,host:\"host-\"+no,time:time,cpu:cpu,memory:memory};\nmsg.payload = data;\n//msg.payload = JSON.stringify(data);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "47dcae80.5cb3f",
                "6667770a.1d0638"
            ]
        ]
    },
    {
        "id": "ed4bcb64.2ea0f8",
        "type": "function",
        "z": "2c782e2a.8831a2",
        "name": "process",
        "func": "let type=\"process\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\n\n[1,2].forEach(k=>{\n    let process = \"process-\"+k;\n    let cpu = no*k;\n    let memory = no*2*k;\n    let data = {_type_:type,process:process,host:\"host-\"+no,time:time,cpu:cpu,memory:memory};\n    msg.payload = data;\n    node.send(msg);\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "1f29d673.5c859a"
            ]
        ]
    },
    {
        "id": "1f29d673.5c859a",
        "type": "natsio-pub",
        "z": "2c782e2a.8831a2",
        "d": true,
        "server": "85f9fb2.b3c1508",
        "subject": "test.process",
        "message": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "d7550927.d16718",
        "type": "function",
        "z": "2c782e2a.8831a2",
        "name": "app",
        "func": "let type=\"app\";\nlet no = msg.count%10;\nlet host = \"host-\"+ no;\nlet time = Date.now();\n\n[1,2,3].forEach(k=>{\n    let app = \"app-\"+k;\n    let count = no*k;\n    let avg = no*2*k;\n    let max = no*3*k;\n    let data = {_type_:type,app:app,host:\"host-\"+no,time:time,count:count,avg:avg,max:max};\n    msg.payload = data;\n    node.send(msg);\n});\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "fc85a54d.7bc2f8"
            ]
        ]
    },
    {
        "id": "fc85a54d.7bc2f8",
        "type": "natsio-pub",
        "z": "2c782e2a.8831a2",
        "d": true,
        "server": "85f9fb2.b3c1508",
        "subject": "test.app",
        "message": "",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "d24c0f11.9004e",
        "type": "function",
        "z": "2c782e2a.8831a2",
        "name": "test",
        "func": "let no = msg.count%10;\nlet host = \"host-\"+ no;\nlet data = {host:\"host-\"+no,no:no};\nmsg.payload = data;\n//msg.payload = JSON.stringify(data);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "53552bbe.7269f4"
            ]
        ]
    },
    {
        "id": "53552bbe.7269f4",
        "type": "natsio-pub",
        "z": "2c782e2a.8831a2",
        "d": true,
        "server": "85f9fb2.b3c1508",
        "subject": "test.1.mytype",
        "message": "",
        "x": 660,
        "y": 140,
        "wires": []
    }
]